*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: #00252e; }

img {
  max-width: 100%;
  display: block; }

input {
  font-family: inherit; }

svg {
  fill: #fff; }

.btn {
  border: none;
  text-transform: capitalize;
  border-radius: 50px; }

.btn-primary {
  background-color: #ff52bf;
  padding: 0.75rem 2rem;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3); }
  @media (min-width: 900px) {
    .btn-primary {
      cursor: pointer; }
      .btn-primary:hover {
        background-color: #ff8fd8; } }

p {
  color: #00252e;
  font-size: 0.9rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem; }
  @media (min-width: 900px) {
    .header {
      padding: 3rem 4rem 2rem; } }
  .header img {
    max-width: 8rem; }
  .header .btn-header {
    color: #ff52bf;
    border: 1px solid #ff52bf;
    background-color: transparent;
    padding: 0.35rem 1rem; }
    @media (min-width: 900px) {
      .header .btn-header {
        cursor: pointer; }
        .header .btn-header:hover {
          color: #ff8fd8;
          border-color: #ff8fd8; } }

.intro {
  text-align: center;
  margin-top: 5rem;
  padding: 0 2rem; }
  .intro-text {
    margin: 1.5rem auto;
    max-width: 26rem; }
  .intro-img {
    margin: 4rem auto; }
    .intro-img img {
      margin: 0 auto; }

@media (min-width: 900px) {
  .intro-title {
    font-size: 1.75rem; }
  .intro-text {
    margin-bottom: 2rem; }
  .intro-img {
    max-width: 60rem; } }
.numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem; }
  .numbers img {
    max-width: 30px; }
  .numbers-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif; }

@media (min-width: 900px) {
  .numbers {
    max-width: 70rem;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly; }
    .numbers-title {
      font-size: 4rem; }
    .numbers-text {
      text-align: center; } }
.services {
  text-align: center;
  padding: 2rem 0; }
  .services .service {
    padding: 4rem 2rem; }
    .services .service-image {
      margin-bottom: 4rem; }
    .services .service-title {
      margin-bottom: 1.5rem; }
  .services .grow-bg-top {
    padding: 6rem 0;
    background-image: url("./../images/bg-section-top-mobile-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; }
    @media (min-width: 900px) {
      .services .grow-bg-top {
        padding: 6rem 0; } }
  .services .grow {
    background-color: #f5faff; }
  .services .grow-bg-bottom {
    padding: 6rem 0;
    background-image: url("./../images/bg-section-bottom-mobile-1.svg");
    background-repeat: no-repeat;
    background-size: contain; }
    @media (min-width: 900px) {
      .services .grow-bg-bottom {
        padding: 6rem 0; } }
  .services .users-bg-top {
    padding: 6rem 0;
    background-image: url("./../images/bg-section-top-mobile-2.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 900px) {
      .services .users-bg-top {
        padding: 6rem 0; } }
  .services .users {
    background-color: #f5faff; }
  .services .users-bg-bottom {
    padding: 6rem 0;
    background-image: url("./../images/bg-section-bottom-mobile-2.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 900px) {
      .services .users-bg-bottom {
        padding: 6rem 0; } }

@media (min-width: 900px) {
  .services .service {
    text-align: left; }
    .services .service-title {
      font-size: 1.75rem; }
    .services .service-image {
      margin-bottom: 0; }
  .services .grow-container {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    place-items: center; }
    .services .grow-container .service-image {
      grid-area: 1 / 2 / 2 / -1; }
    .services .grow-container .service-info {
      grid-column: 1 / 2 / 2 / 1; }
  .services .grow-bg-top {
    background-image: url("./../images/bg-section-top-desktop-1.svg"); }
  .services .grow-bg-bottom {
    background-image: url("./../images/bg-section-bottom-desktop-1.svg"); }
  .services .conversation-container {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    place-items: center; }
  .services .users-container {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    place-items: center; }
    .services .users-container .service-image {
      grid-area: 1 / 2 / 2 / -1; }
    .services .users-container .service-info {
      grid-column: 1 / 2 / 2 / 1; }
  .services .users-bg-top {
    background-image: url("./../images/bg-section-top-desktop-2.svg"); }
  .services .users-bg-bottom {
    background-image: url("./../images/bg-section-bottom-desktop-2.svg"); } }
.get-started {
  text-align: center; }
  .get-started .call-to-action {
    max-width: 20rem;
    margin: 0 auto; }
  .get-started .btn {
    margin: 2rem; }

@media (min-width: 900px) {
  .get-started .call-to-action {
    max-width: 100%;
    font-size: 1.75rem; } }
.bg-footer {
  background-image: url("./../images/bg-footer-top-mobile.svg");
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  display: block; }

.footer {
  background-color: #00252e;
  padding: 4rem 2rem; }
  .footer h2,
  .footer p {
    color: #fff; }
  .footer p {
    font-size: 0.85rem; }
  .footer .newsletter-title {
    text-transform: uppercase;
    font-size: 1.25rem; }
  .footer .newsletter-text {
    margin: 1rem 0 2rem; }
  .footer .newsletter form {
    position: relative; }
  .footer .newsletter input {
    display: block;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem; }
  .footer .newsletter .validation-message {
    font-size: 0.75rem;
    color: #ff4242;
    position: absolute;
    top: 60px; }
  .footer .newsletter .form-btn {
    background-color: #ff52bf;
    border: none;
    height: 2.5rem;
    width: 8rem;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    margin-left: auto;
    display: block; }
    @media (min-width: 900px) {
      .footer .newsletter .form-btn {
        cursor: pointer;
        width: 12rem; }
        .footer .newsletter .form-btn:hover {
          background-color: #ff8fd8; } }
  .footer .contact {
    padding: 4rem 0 2rem; }
    .footer .contact .footer-logo {
      max-width: 10rem;
      margin-bottom: 1rem; }
    .footer .contact-text {
      margin-bottom: 2rem; }
    .footer .contact-phone, .footer .contact-email {
      display: flex;
      margin-bottom: 1rem; }
      .footer .contact-phone p, .footer .contact-email p {
        margin-left: 1rem; }
  .footer .social-media {
    margin-top: 3rem;
    display: flex;
    gap: 1rem; }
    .footer .social-media a img,
    .footer .social-media a svg {
      width: 28px;
      height: 28px; }

@media (min-width: 900px) {
  .bg-footer {
    background-image: url("./../images/bg-footer-top-desktop.svg"); }

  .footer-container {
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 4rem; }
  .footer .contact {
    padding: 0;
    flex-basis: 20rem; }
    .footer .contact .footer-logo {
      max-width: 12rem;
      margin-bottom: 2rem; }
  .footer .newsletter {
    flex-basis: 30rem; }
    .footer .newsletter-text {
      font-size: 0.85rem;
      max-width: 340px; }
    .footer .newsletter form {
      display: flex;
      gap: 2rem; }
      .footer .newsletter form input {
        flex-basis: 370px; }
    .footer .newsletter .validation-message {
      top: 50px; }
  .footer .social-media {
    gap: 1.5rem; }
    .footer .social-media a img,
    .footer .social-media a svg {
      width: 32px;
      height: 32px; }
    .footer .social-media .facebook-link svg:hover {
      fill: #4267b2; }
    .footer .social-media .instagram-link svg:hover {
      fill: #c13584; }
    .footer .social-media .twitter-link svg:hover {
      fill: #1da1f2; } }

/*# sourceMappingURL=styles.css.map */
