// colors
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);

$body-font: "Open Sans", sans-serif;
$headings-font: "Poppins", sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $body-font;
	padding: 0 1rem;
}

h1,
h2,
h3 {
	font-family: $headings-font;
}

img {
	max-width: 100%;
}

.btn {
	border: none;
}
