// colors
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$dark-cyan: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);
$white: #fff;
$facebook-blue: #4267b2;
$instagram-purple: #c13584;
$twitter-blue: #1da1f2;

$body-font: "Open Sans", sans-serif;
$headings-font: "Poppins", sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $body-font;
}

h1,
h2,
h3 {
	font-family: $headings-font;
	color: $dark-cyan;
}

img {
	max-width: 100%;
	display: block;
}

svg {
	fill: $white;
}

.btn {
	border: none;
	text-transform: capitalize;
	border-radius: 50px;
}

.btn-primary {
	background-color: $pink;
	padding: 0.75rem 2rem;
	color: $white;
	font-weight: 600;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);

	@media (min-width: 900px) {
		cursor: pointer;

		&:hover {
			background-color: $light-pink;
		}
	}
}

p {
	color: $dark-cyan;
	font-size: 0.9rem;
}

@mixin service-container {
	max-width: 70rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
	place-items: center;
}

@mixin bg-padding {
	padding: 4rem 0;

	@media (min-width: 900px) {
		padding: 6rem 0;
	}
}
