.bg-footer {
	background-image: url("./../images/bg-footer-top-mobile.svg");
	padding: 8rem 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom center;
	display: block;
}

.footer {
	background-color: $dark-cyan;
	padding: 4rem 2rem;

	h2,
	p {
		color: $white;
	}

	p {
		font-size: 0.85rem;
	}

	.newsletter {
		&-title {
			text-transform: uppercase;
			font-size: 1.25rem;
		}

		&-text {
			margin: 1rem 0 2rem;
		}

		input {
			display: block;
			border: none;
			padding: 0.5rem;
			border-radius: 4px;
			width: 100%;
			height: 2.5rem;
			margin-bottom: 1rem;
		}

		.form-btn {
			background-color: $pink;
			border: none;
			height: 2.5rem;
			width: 8rem;
			color: $white;
			font-weight: 700;
			border-radius: 4px;
			margin-left: auto;
			display: block;
		}
	}

	.contact {
		padding: 4rem 0 2rem;

		.footer-logo {
			max-width: 10rem;
			margin-bottom: 1rem;
		}

		&-text {
			margin-bottom: 2rem;
		}

		&-phone,
		&-email {
			display: flex;
			margin-bottom: 1rem;

			p {
				margin-left: 1rem;
			}
		}
	}

	.social-media {
		display: flex;
		gap: 1rem;
	}
}

@media (min-width: 900px) {
	.bg-footer {
		background-image: url("./../images/bg-footer-top-desktop.svg");
	}

	.footer {
		&-container {
			max-width: 70rem;
			margin: 0 auto;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			gap: 4rem;
		}

		.contact {
			padding: 0;
			flex-basis: 20rem;

			.footer-logo {
				max-width: 12rem;
				margin-bottom: 2rem;
			}
		}

		.newsletter {
			flex-basis: 30rem;

			&-text {
				font-size: 0.85rem;
				max-width: 340px;
			}

			form {
				display: flex;
				gap: 2rem;

				input {
					flex-basis: 370px;
				}

				.form-btn {
					width: 12rem;
				}
			}
		}

		.social-media {
			margin-top: 3rem;
			gap: 1.5rem;

			img {
				max-width: 35px;
				width: 100%;
			}
		}
	}
}
