.bg-footer {
	background-image: url("./../images/bg-footer-top-mobile.svg");
	padding: 4rem 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom center;
}

.footer {
	background-color: $dark-cyan;
	padding: 4rem 2rem;

	h2,
	p {
		color: $white;
	}

	.newsletter {
		&-title {
			text-transform: uppercase;
		}

		&-text {
			margin: 1rem 0;
		}

		input {
			display: block;
			border: none;
			padding: 0.5rem;
			border-radius: 4px;
			width: 100%;
			height: 2.5rem;
			margin-bottom: 1rem;
		}

		.form-btn {
			background-color: $pink;
			border: none;
			height: 2.5rem;
			width: 8rem;
			color: $white;
			font-weight: 700;
			border-radius: 4px;
			margin-left: auto;
			display: block;
		}
	}

	.contact {
		padding: 4rem 0 2rem;

		.footer-logo {
			max-width: 10rem;
			margin-bottom: 1rem;
		}

		&-text {
			margin-bottom: 2rem;
		}

		&-phone,
		&-email {
			display: flex;
			margin-bottom: 1rem;

			p {
				margin-left: 1rem;
			}
		}
	}

	.social-media {
		display: flex;
		gap: 1rem;
	}
}
