.get-started {
	text-align: center;

	.call-to-action {
		max-width: 20rem;
		margin: 0 auto;
	}

	.btn {
		margin: 2rem;
	}
}

@media (min-width: 900px) {
	.get-started {
		.call-to-action {
			max-width: 100%;
			font-size: 1.75rem;
		}
	}
}
