.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.75rem 0;

	img {
		max-width: 8rem;
	}

	.btn-header {
		color: $pink;
		border: 1px solid $pink;
		background-color: transparent;
		padding: 0.35rem 1rem;
	}
}
