.intro {
	text-align: center;
	margin-top: 5rem;
	padding: 0 2rem;

	&-text {
		margin: 1.5rem auto;
		max-width: 26rem;
	}

	&-img {
		margin: 4rem auto;

		img {
			margin: 0 auto;
		}
	}
}

@media (min-width: 900px) {
	.intro {
		&-title {
			font-size: 1.75rem;
		}

		&-img {
			max-width: 60rem;
		}
	}
}
