.services {
	text-align: center;
	padding: 2rem 0;

	.service {
		padding: 4rem 2rem;

		&-image {
			margin-bottom: 4rem;
		}

		&-title {
			margin-bottom: 1.5rem;
		}
	}

	.grow-bg-top {
		@include bg-padding;
		background-image: url("./../images/bg-section-top-mobile-1.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.grow {
		background-color: $pale-blue;
	}

	.grow-bg-bottom {
		@include bg-padding;
		background-image: url("./../images/bg-section-bottom-mobile-1.svg");
		background-repeat: no-repeat;
		background-size: contain;
	}

	.users-bg-top {
		@include bg-padding;
		background-image: url("./../images/bg-section-top-mobile-2.svg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.users {
		background-color: $pale-blue;
	}

	.users-bg-bottom {
		@include bg-padding;
		background-image: url("./../images/bg-section-bottom-mobile-2.svg");
		background-position: top;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

@media (min-width: 900px) {
	.services {
		.service {
			text-align: left;
			padding: 4rem 0;

			&-title {
				font-size: 1.75rem;
			}

			&-image {
				margin-bottom: 0;
			}
		}

		.grow-container {
			@include service-container;

			.service-image {
				grid-area: 1 / 2 / 2 / -1;
			}

			.service-info {
				grid-column: 1 / 2 / 2 / 1;
			}
		}

		.grow-bg-top {
			background-image: url("./../images/bg-section-top-desktop-1.svg");
		}

		.grow-bg-bottom {
			background-image: url("./../images/bg-section-bottom-desktop-1.svg");
		}

		.conversation-container {
			@include service-container;
		}

		.users-container {
			@include service-container;

			.service-image {
				grid-area: 1 / 2 / 2 / -1;
			}

			.service-info {
				grid-column: 1 / 2 / 2 / 1;
			}
		}

		.users-bg-top {
			background-image: url("./../images/bg-section-top-desktop-2.svg");
		}

		.users-bg-bottom {
			background-image: url("./../images/bg-section-bottom-desktop-2.svg");
		}
	}
}
